.header {
    height: 95vh;
    /* 0.8 is the opacity which makes the background image visible*/
    background-image: linear-gradient(to right bottom,
            rgba($color-primary-light, 0.8),
            rgba($color-primary-dark, 0.8)),
        url(../img/hero.jpg);
    background-size: cover;
    /* when you change the size the image gets smaller or bigger at the top */
    background-position: top;
    /* sets the reference for the logo box styling */
    position: relative;
    /* every pair represents x y coordinates of one of the fours angles (you can use clippy.com)*/
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        height: 3.5rem;
    }

    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        /* transform is not related to the parent element but the element itself */
        transform: translate(-50%, -50%);
        text-align: center;
    }
}